
.row
  .col-xs-1
    h4  House Listings
  .col-xs-2
  .col-xs-2
    .form-group(ng-show='activeUser')
      select(ng-model='selectedZip')
        option(ng-repeat='zip in zips') {{zip}}
      button.btn.btn-xs.btn-info(ng-click='filterByZip(selectedZip)') Filter by Zip
  .col-xs-7
    .form-group(ng-show='activeUser')
      select(ng-model='selectedCity')
        option(ng-repeat='city in cities') {{city}}
      button.btn.btn-xs.btn-info(ng-click='filterByCity(selectedCity)') Filter by City
    
.row
  .col-xs-1
    .contDiv(ng-repeat='listing in listings track by $index', ng-mouseenter='toggleBounce(listing)', ng-mouseleave='toggleBounce(listing)')
      .photoDiv(ng-click='show(listing)')
        img.photoThumb(ng-src='{{listing.photo}}')
        h4 {{listing.price | currency}}
        h5 {{listing.sqft}} &nbsp; SQFT
  .col-xs-11
    #listingMap
